@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
    font-family:"Montserrat", Courier, monospace;
    text-align: center;
    background-image: url("https://i.postimg.cc/c42Wdxwq/images.jpg");
    background-size: cover;
}

#board {
    /* background-color: skyblue; */
    background-image: url("https://i.postimg.cc/nz25W71y/flappybirdbg.png");
    background-size: cover;
}