@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
    background: url(https://img.freepik.com/free-photo/abstract-dynamic-shapes-background_1017-3211.jpg?ga=GA1.1.271905713.1736421798&semt=ais_hybrid);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
}

.header-logo {
    height: 70px; /* Enlarge the logo */
}

.header-title {
    color: #ffcc00; /* Sunset yellow */
    font-size: 24px;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.header-title a {
    color: #ffcc00; /* Sunset yellow */
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.header-button {
  flex: 1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.menu-button {
  flex: 1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}


.header-button,
.menu-button {
  height: 40px; /* Set the same height for all buttons */
  font-size: 16px; /* Set the same font size for all buttons */
  padding: 0 10px; /* Add padding to adjust width based on text length */
  border: none;
  background-color: #007BFF; /* Example background color */
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 40px; /* Vertically center the text */
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.header-button:hover,
.menu-button:hover {
    background-color: #ffcc00;
    transform: scale(1.05); /* Slightly enlarge on hover */
    font-family: "Montserrat", sans-serif;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url("{{url_for('static',filename='image/main-img/menu-background.png')}}") no-repeat center center; /* Background image */
    background-size: cover;
    width: 200px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    animation: slideInFromLeft 0.5s ease-in-out;
    overflow-y: auto; /* Enable vertical scrolling */
    font-family: "Montserrat", sans-serif;
}

.menu a {
    display: block;
    color: #001f3f; /* Deep blue */
    text-decoration: none;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.menu a:hover {
    background-color: rgba(0, 31, 63, 0.8); /* Solid color on hover */
    color: #ffffff; /* White text color on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    font-family: "Montserrat", sans-serif;
}
#board {
    height: 532px;
    width: 475px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid rgb(39, 3, 63);
}

.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}