body {
    text-align: center;
    background-image: url("https://i.postimg.cc/Pq2QsMBQ/pbg.webp");
    background-size: cover;
}

#board {
    background-color: rgb(0, 0, 0);
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}