@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
    background-image: url('https://img.freepik.com/free-vector/forest-scene-with-various-forest-trees_1308-57640.jpg?t=st=1736421785~exp=1736425385~hmac=5a39cfb6ded35213d34c2361954914861031c6235b827abff3834305ff4dbda6&w=826'); /* Background image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
    font-family: "Montserrat", Courier, monospace;
    text-align: center;
}         
h1{
    font-weight: bolder;
}       