<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Portal | About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/home.css')}}">
    <link rel="website icon" type="png" href="{{url_for('static',filename='image/main-img/PlayPortal.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{{url_for('static',filename='image/main-img/PlayPortal.png')}}" alt="Website Logo" class="header-logo">
        <h2 class="header-title"><a href="#play-portal-section">Play Portal</a></h2>
        <div class="header-buttons">
            <a href="/" class="header-button">Home</a>
            <a href="/about" class="header-button">About</a>
            <a href="/games" class="header-button">Games</a>
            <a href="/login" class="header-button">Login</a>
            <a href="/signup" class="header-button">Sign Up</a>
        </div>
    </header>
    <section id="intro-section">
        <div class="intro-content">
            <div class="intro-text">
                <style> h1 { font-family: "Montserrat", sans-serif; font-size: 1.5rem; color:  #FFCC00} </style>
                <b><b><h1>About Us</h1></b></b><br><br>
            <br>
                <h2>Welcome to our Web-Based Games Website!⭐</h2>
                <p>This project was born out of a shared passion for gaming and web development, and is presented as part of our university coursework. We aimed to create an engaging and interactive platform where users can enjoy a variety of web-based games.</p>
                <br>
                <h2>⭐Our Mission</h2>
                <br>
                <p>Our mission is to provide a fun and accessible gaming experience. We believe that games can bring people together and offer a much-needed escape from the daily grind.</p>
                Technologies Used
To bring this project to life, we utilized several technologies:
<br>
<ul></ul>
<br>
<b>🟠HTML:</b> For structuring the content on our web pages.
<br>
<b>🟠CSS:</b> For styling and making our website visually appealing.
<br>
<b>🟠JavaScript:</b> For adding interactivity and dynamic content to our games.
<br>
<b>🟠Python:</b> For routing and handling backend operations using Flask.</ul>
<br>
<br>
<br>
<h2>⭐Meet the Team</h2>
<br>
 <p>We are a dedicated group of students who collaborated to create this website:</p>
<br>
<br>
<ul></ul>
<h3><b>🔴Muhammad Kaleem Armughan (BSE-203)</b></h3>
<br>
<h3>🔴Muhammad Shuja Salman (BSE-230)</h3>
<br>
<h3>🔴Rafay Raheel (BSE-212)</h3>
<br>
<h3>🔴Saad Khan (BSE-214)</h3>
<br>
<h3>🔴Saifullah (BSE-215)</h3><br><br>
We hope you enjoy our games as much as we enjoyed creating them! <br> If you have any feedback or suggestions, please feel free to reach out to us.
<br><br>
<h3><b>Happy Gaming!</b></h3>
            </div>
            <img src="{{url_for('static',filename='image/main-img/PlayPortal.png')}}" alt="Website Logo" class="intro-logo">
            </section>
        </div>
    </div>
    <footer>
        <p>© 2024-2025, PlayPortal. All Rights Reserved. </p>
    </footer>
</body>
</html>