<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Connect 4</title>
    <link rel="stylesheet" href="{{url_for('static' ,filename= 'style/connect4.css')}}" />
    <link rel="website icon" type="png" href="{{url_for('static' , filename='image/-img/PlayPortal.png')}}" />
    <script src="{{url_for('static' ,filename= 'java/connect4.js')}}"></script>
</head>
<body>
    <header>
        <img src="{{url_for('static' , filename='image/main-img/PlayPortal.png')}}" alt="Website Logo" class="header-logo">
        <h2 class="header-title"><a href="#play-portal-section">Play Portal</a></h2>
        <div class="header-buttons"></div>
    </header>
    <h1>Connect 4</h1>
    <h2 id="winner"></h2>
    <div id="board"></div>
    <!-- Add Restart Button -->
    <button id="restart-button">Restart Game</button>
</body>
</html>
