<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Card Hover</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/hoverthreed.css')}}">
    <link rel="website icon" type="png" href="{{url_for('static',filename='image/main-img/PlayPortal.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

        <br>

        <a href="/twozerofoureight"><div class="card1">
            <h1>2048</h1>
            <div class="hover-image-twozerofoureight"></div>
        </div></a>

        <br>

        <a href="/pingpong"><div class="card2">
            <h1>PING PONG</h1>
            <div class="hover-image-pingpong"></div>
        </div></a>

        <br>

        <a href="/sudoku"><div class="card3">
            <h1>SUDOKU</h1>
            <div class="hover-image-sudoku"></div>
        </div></a>

        <br>

        <a href="/puzzle"><div class="card4">
            <h1>PUZZLE</h1>
            <div class="hover-image-puzzle"></div>
        </div></a>

        <br>

        <a href="/memory-cards"><div class="card5">
            <h1>MEMORY CARDS</h1>
            <div class="hover-image-memory-cards"></div>
        </div></a>

        <br>

        <a href="/tictactoe"><div class="card6">
            <h1>TIC TAC TOE</h1>
            <div class="hover-image-tictactoe"></div>
        </div></a>

        <br>

        <a href="/rockpaperscissors"><div class="card7">
            <h1>ROCK PAPER SCISSORS</h1>
            <div class="hover-image-rockpaperscissors"></div>
        </div></a>

        <br>

        <a href="/slide-puzzle"><div class="card8">
            <h1>SLIDE PUZZLE</h1>
            <div class="hover-image-slide-puzzle"></div>
        </div></a>

        <br>

        <a href="/space-invaders"><div class="card9">
            <h1>SPACE INVADERS</h1>
            <div class="hover-image-space-invaders"></div>
        </div></a>

        <br>

        <a href="/hangman"><div class="card10">
            <h1>HANGMAN</h1>
            <div class="hover-image-hangman"></div>
        </div></a>

        <br>

        <a href="/blackjack"><div class="card11">
            <h1>BLACKJACK</h1>
            <div class="hover-image-blackjack"></div>
        </div></a>

        <br>

        <a href="/wordle"><div class="card12">
            <h1>WORDLE</h1>
            <div class="hover-image-wordle"></div>
        </div></a>

        <br>

        <a href="/whackamole"><div class="card13">
            <h1>WHACK-A-MOLE</h1>
            <div class="hover-image-whackamole"></div>
        </div></a>

        <br>

        <a href="/flappy-bird"><div class="card14">
            <h1>FLAPPY BIRD</h1>
            <div class="hover-image-flappy-bird"></div>
        </div></a>

        <br>

        <a href="/minesweeper"><div class="card15">
            <h1>MINESWEEPER</h1>
            <div class="hover-image-minesweeper"></div>
        </div></a>

        <br>

        <a href="/connect-four"><div class="card16">
            <h1>CONNECT FOUR</h1>
            <div class="hover-image-connect-four"></div>
        </div></a>

        <br>

        <a href="/dino-game"><div class="card17">
            <h1>DINO GAME</h1>
            <div class="hover-image-dino-game"></div>
        </div></a>

        <br>

        <a href="/doodle-jump"><div class="card18">
            <h1>DOODLE JUMP</h1>
            <div class="hover-image-doodle-jump"></div>
        </div></a>

        <br>

        <a href="/snake"><div class="card19">
            <h1>SNAKE</h1>
            <div class="hover-image-snake"></div>
        </div></a>

        <br>

        <a href="/candy-crush"><div class="card20">
            <h1>CANDY CRUSH</h1>
            <div class="hover-image-candy-crush"></div>
        </div></a>

        <br>

</body>

<footer>
    <p>© 2024-2025, PlayPortal. All Rights Reserved. </p>
</footer>

</html>