<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Portal | Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/login.css')}}">
</head>
<body>
    <div class="box">
        <div class="border-line"></div>
        <form action="#">
            <h2>Log in</h2>
            <div class="input-box">
                <input type="text" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="input-box">
                <input type="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="imp-links">
                <a href="#">Forgot Password?</a>
                <a href="#">Sign In</a>
            </div>
            <input type="submit" value="Login" class="btn">
        </form>
    </div>
</body>
</html>