<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Space Invaders</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style/space-invaders.css')}}">
        <script src="{{url_for('static',filename='java/space-invaders.js')}}"></script>
    </head>

    <body>
        <h1>Space Invaders</h1>
        <canvas id="board"></canvas>
    </body>
</html>
<div id="restart-btn-box">
    <button id="restart-btn" class="menu-button">Restart</button>
</div>  